.kliker {
  display: inline-block;
  margin-right: 50px;
}
.kliker__button {
  padding: 10px;
}
.kliker__button_plus {
  background-color: rgb(58, 233, 14);
}
.kliker__button_drop {
  background-color: rgb(235, 214, 29);
}
.kliker__button_minus {
  background-color: rgb(141, 32, 5);
}
