.kliker {
  display: inline-block;
  margin-right: 50px;
}
.kliker__button {
  padding: 5px;
}
.kliker__button_plus {
  background-color: rgb(30, 90, 14);
}
.kliker__button_drop {
  background-color: rgb(172, 155, 4);
}
.kliker__button_minus {
  background-color: rgb(141, 32, 5);
}
