main {
  flex: 1 0 auto;
  display: flex;
}
.user {
  margin: 20px;
  width: 250px;
  padding: 20px;
  background-color: rgb(131, 128, 126);
  color: white;
  font-size: medium;
  border: 2px solid black;
  border-radius: 10%;
  height: fit-content;
  .title_name {
    color: black;
  }
  .name {
    font-size: medium;
  }
}
